{% extends 'main/base.html' %}
{% block content %}
{% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Entrar">
    </form>
    <p class="text-center">Não possui conta? <a href="/accounts/register">Cadastre-se</a>.</p>


  <script src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock content %}

