{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Document</title>
</head>
<body>
    {% extends 'main/base.html' %}
    {% block content %}
    <a href="{% url 'cliente.novo' pk %}">Novo</a>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Telefone</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.email }}</td>
                <td>{{ cliente.telefone }}</td>
                <td>
                    <a href="{% url 'cliente.editar' pk_pessoa cliente.pk %}">Editar</a>
                    <a href="{% url 'cliente.remover' pk_pessoa cliente.pk %}">Remover</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock content %}
  
    <script src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>